
.cloi{
    font-size: 20px;
    font-weight: bold;
    text-align: justify;
}

.yoyo{
    background-color: rgba(247, 247, 252, 0.308);
    padding: 40px;
    margin-top: 50px;
}

.uio{
    text-align: justify;
    color: black;

  
    
}
.fem{
    background-color: white;
    padding: 20px;
}
.lulo{
    text-align: justify;
}
.wa{
    top: 10px;
}
.directione{
top: 75px;
left: 50px;
    
}
.oiu{
    /*margin: 30px;*/
    border-radius: 10px;
}

.oi{
    margin: 30px;
}
.yui{
    margin-left: 30px;
    text-align: justify;
}
.cloit{
    margin-left: 30px;
    
}
.roi{
    margin-left: 200px;
}
.femo{
    margin-top: 50px;
}
.moi{
    color: black;
    font-size: 10px;
    text-align: justify;
}
.hjk{
    margin-top: 50px;
    margin-left: 50px;
}
.ghj{
    margin-left: 50px;
}
.hjkl{
    margin-top: 30px;
    margin-left: 50px;
}
.olut{
    margin-top: 60px;
}
.hjkx{
    margin-top: 50px;
    margin-left: 50px;
}
.directionet{
    top: 75px;
left: 50px;
margin-top: 50px;
}
