.overlay {
    
    display: none;
    }

.btnpopup{}

    .modal{
    display: block;
    position: relative;
    text-align: center;
    
  }
  
  .modal-dialog .modal-content{
      border-color: rgba(0, 0, 0, 0.815);
    border-width: 2px;
        background:linear-gradient( aqua ,rgba(0, 0, 0, 0.37) ) ;
  }
  #shadowbox{
            
      box-shadow:rgba(0, 0, 0, 0.726) 5px 5px 50px  ;
  }
 
      
  .ne{
      text-align: center;
      margin-left:12pc;
  }
  .na{
      font-size: 13px;
  }
  .btn{
    box-shadow:5px 5px 20px  ;
}
.nam{
    border-: 0px;
   
    
  
}
.sub{
    background: rgba(0, 0, 255, 0.925);
    box-shadow:rgba(7, 7, 7, 0.568) 0.5px 0.5px 5px;
}
.btnpopup{
    
    background: rgba(255, 166, 0, 0.59);
}



/*
.overlay {
  position: fixed;
  left: 0px;
  top:0px;
  background-color: rgba(0,0 ,0 , 0.5);
  width: 100%;
  height: 100%;
  z-index: 20;
  display: none;
  }
.young{
    position: fixed;
    left: 0px;
    top:0px;
    background-color: rgba(0,0 ,0 , 0.5);
    width: 100%;
    height: 100%;
    z-index: 20;
    display: none;
}


.popup{
margin: auto;
margin-top: 10%;
width : 500px;
height: 300px;
background-color: rgb(0, 149, 255);
padding: 1em;
box-shadow: 0 15px 20px rgba(255, 255, 255, 0.664);
border-radius: 5px;
}

.popup1{
  margin: auto;
  margin-top: 10%;
  width : 500px;
  height: 300px;
  background-color: rgb(28, 78, 36);
  padding: 1em;
  box-shadow: 0 15px 20px rgba(255, 255, 255, 0.664);
  border-radius: 5px;
  }

.btnClose {
float: right;
font-size:16pt;
cursor: pointer;
color: rgb(219, 205, 10);
}

.btnPopup{
  /*background-color: orangered;
  cursor: pointer;
  }

.btnPopup:hover{
      background-color: rgba(192, 192, 192, 0.521);
  }
.inazuma{
    cursor: pointer;
    }
.inazuma:hover{
        background-color: rgba(192, 192, 192, 0.521);
    }
.btn{
    background-color: gray;
    color: aqua;
    cursor: pointer;
  }
.jugo{
    background-color: gray;
    color: aqua;
    cursor: pointer;
  }
.fomulaire{
    margin: auto;
  }
  */